Assignment5/Service References/SRProducts/jico_Products1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Assignment5_Jico" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Assignment5_Jico" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProducts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Products" nillable="true" type="tns:Products" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProducts" nillable="true" type="tns:ArrayOfProducts" />
  <xs:complexType name="Products">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Products" nillable="true" type="tns:Products" />
</xs:schema>